# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore log files
logs/
*.log

# Ignore data files
data/*.json
!data/last_timestamp.json
!data/weather_data.json


# Ignore virtual environments
venv/
.env/

# Ignore env file
*.env